{%extends "cs_layout.html"%}
{%block content%}
<div class="my_panel">
    <h4 class="center">Service Request Status</h4>
    <div class="container text-center mt-3">
        <div class="mb-3">
            <div class="d-flex justify-content-start ">
                <div class="container text-center mt-3 border">
                    <img src="{{ url_for('static', filename='graphs/cs_status_wise_requests_count.png') }}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}