{%extends "pf_layout.html"%}
{%block content%}
<div class="my_panel">
    <form class="d-flex" method="POST" action="/pf_search/{{name}}/{{id}}/{{service}}">
        <div class="col-sm-4">
            <select class="form-select" aria-label="Default select example" name=""readonly>
                <option value=""> Service History</option>
            </select>
        </div>
        <input class="form-control me-2" type="search" placeholder="Search by location/pincode/service status" aria-label="Search" name="search_txt" id="search_text">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    
    <h4>{{msg}}</h4>

    <div class="table-responsive">
        <table class="table table-sm">
          {%if requests%}
            <thead class="table-light">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Description</th>
                <th scope="col">Phone</th>
                <th scope="col">Location(with Pincode)</th>
                <th scope="col">Date of completion</th>
                <th scope="col">Rating</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              {%for request in requests%}
                {%for customer in customers%}
                    {%if request.customer_id==customer.id%}
                      <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{customer.fullname}}</td>
                        <td>{{request.servicess.description}}</td>
                        <td>{{customer.phone}}</td>
                        <td>{{customer.address}} {{customer.pincode}}</td>
                        <td>{{request.date_of_completion}}</td>
                        <td>{{request.service_rating}}</td>
                        <td>{{request.service_status}}</td>
                      </tr>
                    
                    {%endif%}
                {%endfor%}
              {%endfor%}
            </tbody>
          {%endif%}
        </table>
    </div>


    
</div>



{%endblock%}